* {
  margin: 0;
}

.sidebar__row:hover .sideBarRow__icon {
  color: red !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-list-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  .scroll_btn_mobille {
    display: none;
  }

  .collapsed_sidebar_desktop {
    display: none;
  }

  .collapsed_sidebar_mbl {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .header_desktop {
    display: none;
  }

  .search_sugggestion_desktop {
    display: none;
  }

  .video_card__mbl {
    padding: unset;
    margin: unset;
  }
  .video_card__desc_mbl {
    margin-bottom: 16px;
    margin-left: 12px;
  }

  .videContainer_mbl {
    margin-bottom: 60px;
  }

  .video_card__mbl > img {
    height: unset;
    width: 100%;
    border-radius: unset;
  }

  .sugg_card__desc_mbl {
    margin-top: 4px;
    margin-bottom: 16px;
    margin-left: 12px;
  }
  .comment_mbl {
    margin: 16px 12px;
  }
  .watchPage_mbl {
    margin-bottom: 60px;
  }
  .search_card__mbl {
    margin-top: 4px;
    margin-bottom: 24px;
    margin-left: 12px;
  }
  .seacrCard_desc__mbl {
    display: none;
  }
  .searchVdeo_detail_mbl {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .searchPageContainer_mbl {
    margin-bottom: 60px;
  }
}
