* {
  margin: 0;
}

.sidebar__row:hover .sideBarRow__icon {
  color: red !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-list-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  .scroll_btn_mobille {
    display: none;
  }

  .collapsed_sidebar_desktop {
    display: none;
  }

  .collapsed_sidebar_mbl {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .header_desktop {
    display: none;
  }

  .search_sugggestion_desktop {
    display: none;
  }

  .video_card__mbl {
    padding: unset;
    margin: unset;
  }
  .video_card__desc_mbl {
    margin-bottom: 16px;
    margin-left: 12px;
  }

  .videContainer_mbl {
    margin-bottom: 60px;
  }

  .video_card__mbl > img {
    height: unset;
    width: 100%;
    border-radius: unset;
  }

  .sugg_card__desc_mbl {
    margin-top: 4px;
    margin-bottom: 16px;
    margin-left: 12px;
  }
  .comment_mbl {
    margin: 16px 12px;
  }
  .watchPage_mbl {
    margin-bottom: 60px;
  }
  .search_card__mbl {
    margin-top: 4px;
    margin-bottom: 24px;
    margin-left: 12px;
  }
  .seacrCard_desc__mbl {
    display: none;
  }
  .searchVdeo_detail_mbl {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .searchPageContainer_mbl {
    margin-bottom: 60px;
  }
  .channelDetail_mbl {
    margin-right: 12px;
    margin-bottom: 12px;
  }
  .likeSection__mbl {
    margin-left: 8px;
  }
  .videoTitle__mbl {
    margin-left: 10px;
    margin-right: 10px;
  }
  .shorts_card_mbl {
    z-index: 50;
  }
}

.ripple {
  background-position: center;
  transition: 0.8s;
}
.ripple:hover {
  background: #024d72 radial-gradient(circle, transparent 1%, #d5d8db 1%)
    center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: 0s;
}

@media (max-width: 320px) {
  .dislike_mbl_small {
    margin-right: 0px !important;
  }
}

/* Loader css  */

.load-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}
